/* CHAPTER 2 SELECTORS
html {
  font-size: 22px;
}

body {
 
}

main {
  font-family: monospace;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1,
h2 {
  color: blue;
}

p {
  color: purple;
}

p {
  color: red;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}

.gray {
  color: gray;
}

#second {
  font-style: italic;
} */

/* CHAPTER 3 colors */
/* body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: papayawhip;
  color: rgb(0, 0, 0);
} */

/* p {
  color: rgba(0, 0, 0, 0.5);
} */

/* p {
  color: #0f138f;
} */

/* CHAPTER 4 UNITS AND SIZES */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
}

main {
  width: 50%;
  background-color: skyblue;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  width: 40ch;
} */

/* CHAPTER 5 BOX MODEL */

/* * {
  margin: 0;
  padding: 0; */
/* box-sizing: content-box; anu es aris defaulti ra da tavidan ra zomac aqvs maqedan amatebs magalitad paddingis an marginis zomas */
/* box-sizing: border-box;
} */

/* .container {
  border: 10px double red;
  /* border-top-style: ridge;
  border-right: 10px dotted blue; */

/* font-size: 1.5rem;
  margin: 1.5em 2em;  */
/* margin-top: 1.5rem;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
/* padding: 1.5em;
  outline: 5px solid purple;
  outline-offset: 5px;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border: radius 50px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
} */

/* CHAPTER 6 TYPOGRAPHY IS THE WAY THAT TEXT IS ARRANGED AND PRESENTED */

/* body {
  padding: 10%;
  font-size: 2rem;
} */

/* input,
button {
  font: inherit;
} */

/* p { */
/* text-align: right;
  text-transform: lowercase;
  text-decoration: underline; 
  text-indent: 2em; abzacis pontia
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
  font-weight: 900;*/
/* line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
} */

/* CHAPTER 7 STYLING LINKS*/
/* body {
  padding: 16%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: hsl(207, 44%, 49%);
}

a:visited {
  color: purple;
}

a:hover {
  opacity: 0.8;
  background-color: gold;
}

a:focus {
  outline: 3px solid red;
  background-color: yellow;
}

a:active {
  color: red;
} */

/* CHAPTER 8 LIST STYLES*/
/* body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: lower-alpha;
  padding: 0;
}

ul {
  list-style-type: square;
  text-align: center;
  list-style-position: inside;
  color: #00f;
  line-height: 1.6;
  list-style-image: url("/2705.svg");
}

ul li:nth-child(even) {
  color: red;
}

ul ::marker {
  color: #000;
  font-family: fantasy;
  font-size: 1.5em;
  content: "only 5$ >>";
} */

/* CHAPTER 9 MINI PROJECT */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 680px;
  font-size: 3rem;
  line-height: 7rem;
}

h2 {
  padding: 1rem;
  background-color: yellow;
  border-radius: 2rem 2rem 0 0;
}

ul {
  list-style-type: none;
}

li {
  border-top: 1px solid #333;
}

li a {
  display: block;
}

li a,
li a:visited {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a :focus {
  background-color: #333;
  color: whitesmoke;
  cursor: pointer;
}

li:last-child a {
  border-radius: 0 0 2rem 2rem;
} */

/* CHAPTER 9 DISPLAY */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
} */

/* .opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  margin-top: 100px;
  height: 200px;
  padding: 4rem;
} */

/* ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #333;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  background-color: lightgray;
  text-align: right;
  margin: 0;
  padding: 1rem;
}

ul li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
}

li a:hover {
  text-decoration: underline;
  background-color: brown;
  border-radius: 0.5rem;
  padding: 1rem;
} */

/* CHAPTER 11 FLOATS */
/* body {
  font-size: 1.5rem;
  font-family: "Roboto ", sans-serif;
}

.block {
  width: 30vw;
  height: 30vw;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

/* .clear {
  clear: both;
} */

/* section {
  background-color: bisque;
  border: 1px solid #333;
  padding: 1rem;
  display: flow-root;
}  */

/* CHAPTER 12 COLUMNS */
/* body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.columns { */
/* column-count: 4;
  column-width: 250px; */
/* columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;
  break-before: column;
}

.columns .quote {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}

.nowrap {
  white-space: nowrap;
} */

/* CHAPTER 13 POSITION */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #00f;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 20px auto; */
/* position: relative; */
/* } */

/* .box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: #00f;
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  background-color: #f00;
  position: relative;
  top: 300px;
  left: 100px;
}

.fixed {
  background-color: green;
  position: fixed;
  top: 100px;
  z-index: 1;
}

.sticky {
  background-color: #000;
  position: sticky;
  top: 0;
} */

/* html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.blue {
  background-color: #00f;
}
.red {
  background-color: #f00;
}
.green {
  background-color: green;
}

header,
footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  top: 0;
  font-size: 5rem;
}

footer {
  background-color: #000;
  position: sticky;
  bottom: 0;
  font-size: 3rem;
}

a:visited {
  color: #fff;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 1;
} */

/* CHAPTER 14 FLEXBOX */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid black;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center; */
/* flex-direction: row; */
/* flex-wrap: wrap; */
/* flex-flow: row-reverse; */
/* align-content: space-evenly; roca flex wrapit daushvat 2 row gvaqvs sheudzlia space evenly da sxva */
/* } */

/* .box {
  /* min-width: 100px; */
/*
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1 150px;
}

.box:nth-child(2) {
  flex: 2 2 150px;
  order: 0;
} */

/* CHAPTER 15 GRID LAYOUT */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

display: grid;
grid-template-columns: repeat(9,1fr);
grid-auto-rows: 50px auto 75px;
grid-template-areas:
"hd hd hd hd hd hd hd hd hd"
"mn mn mn mn mn mn mn sb sb"
"ft ft ft ft ft ft ft ft ft";

column-gap: 0.5rem ;


}


.el{
  background-color: rebeccapurple;
  color: white;
  display: grid;
  place-content: center;
}

.header{
  grid-area: hd;
}

.sidebar{
  grid-area: sb;
  background-color: #00f;
}

.footer {
  grid-area: ft;
}



.container{
  grid-area: mn;
  min-height: 400px;
  display: grid;
  /* grid-auto-flow: column; */
/* grid-template-columns: repeat(2,1fr 2fr);
  grid-auto-rows: minmax(150px,auto); */
/* row-gap: 1em ; */
/* column-gap: 1em; */
/* gap: 1rem;
  
}

.box{
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}


.box:first-child{
  background-color:#00f;
 grid-column: 1 / 4;
 grid-row: 1 / 3;

display: grid;
align-content: center;
justify-content: center;
place-content: end center;

}


.box:nth-child(2) {
background-color: purple;
grid-column: 1/5;
grid-row: 3 / 4;
}  */

/* CHAPTER 16 IMAGES */
/* begin reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
} */
/* end reset */

/* utility classes  */
/* .nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
} */

/* end utility classes */

/* body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue; */
/* background-image: url(/img/download.jpg); */
/* linear-gradient(hsla(240, 100%, 50%, 0.264), #fff) */
/* background-repeat: repeat-y; */
/* background-size: 20%; */
/* }

.container {
  background-color: rgb(251, 210, 156);
  background-image: url(/img/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero {
  border-bottom: 2px solid #333;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: bottom;
  gap: 30px;
  background-color: hsla(0, 0%, 100%, 0.25);
}

.h1 {
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px #000;
  /* background-color: hsla(0, 0%, 0%, 0.405);
  padding: 0.25rem;
  border-radius: 10px; */
/*}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.clip {
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url(/img/images.jpg);
  background-size: 100%;
  -webkit-background-clip: text;
  color: hsla(0, 0%, 0%, 0.199);
} */

/* CHAPTER 17 MEDIA QUARIES */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nowrap {
  white-space: nowrap;
}

html {
  scroll-behavior: smooth;
}

body {
  font:
    1.5rem "Nunito",
    sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
  color: red;
}

nav {
  background-color: white;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

nav a:any-link {
  color: #000;
}

nav a:link,
nav a:visited {
  color: #000;
}

nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}

nav a:active {
  color: red;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer {
  bottom: 0;
}

/* Profile class */
/* .card {
  scroll-behavior: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:target {
  border: 2px solid rebeccapurple;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

.card img:not([alt]) {
  border: 10px solid red;
}

.card:nth-child(even) {
  background-color: papayawhip;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {
  content: " hello";
  display: block;
}

.card figcaption::first-line {
  font-size: 3rem;
}

.card p {
  position: relative;
}

.card p::before {
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
}

.card p::after {
  content: close-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  right: 0.5em;
} */

/* medium */
/* @media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .card {
    width: min(100%, 400px);
  }
  .card:last-child {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
  .card {
    width: min(100%, 325px);
  }
  .card figure {
    flex-flow: column-reverse;
  } */
/* .card figcaption {
    margin: 0.1em 0;
  } */
/*.card p {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }
  .card:nth-child(2) {
    order: -1;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }
  .card figcaption,
  .card p {
    font-size: 1.25rem;
  }
} */

/* RESET*/
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;
  --FF-HEADINGS: "Fugaz One", cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGCOLOR: orange;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #fff;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --NAV-BGCOLOR: #fff;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR-FADE: gray;
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HEADER-COLOR: whitesmoke;
    --HERO-COLOR: #333;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --NAV-BGCOLOR: rgb(20, 20, 20);
  }
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}

body {
  background-color: var(--BODY-BGCOLOR);
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

/* || HEADER */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__h1 {
  text-align: center;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
  background-color: var(--NAV-BGCOLOR);
  border-bottom: var(--BORDERS);
  font-weight: bold;
  box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

/* || HERO */

.hero {
  position: relative;
}

.hero__h2 {
  background-color: var(--HERO-BGCOLOR);
  color: var(--HERO-COLOR);
  padding: 0.25em 0.5em;
  text-shadow: 2px 2px 5px var(--BORDER-COLOR);
  position: absolute;
  top: -100px;
  left: 20px;
  animation: showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
  0% {
    top: -20px;
    transform: skew(0deg, -5deg) scaleY(0);
  }

  80% {
    top: 30px;
    transform: skew(10deg, -5deg) scaleY(1.2);
  }

  100% {
    top: 20px;
    transform: skew(-10deg, -5deg) scaleY(1);
  }
}

/* || FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

/* || MAIN */

.main {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
  scroll-margin-top: 6.5rem;
  margin: var(--MARGIN);
}

.main__article:first-child {
  margin-top: 1em;
}

.main__article:last-child {
  min-height: calc(100vh - 20rem);
}

/* || ABOUT */

.about__trivia {
  margin: var(--MARGIN);
}

.about__trivia-answer {
  margin-top: 1em;
}

/* || CONTACT */

.contact__h2 {
  margin: 0;
}

.contact__fieldset {
  border: none;
}

.contact__p {
  margin: 1em 0;
}

.contact__label {
  display: block;
  font-weight: bold;
}

.contact__input,
.contact__textarea {
  padding: 0.5em;
  border-radius: var(--BORDER-RADIUS);
  border-width: 2px;
  width: 100%;
}

.contact__button {
  padding: 0.5em;
  border-radius: var(--BORDER-RADIUS);
  background-color: var(--HIGHLIGHT-COLOR);
  color: var(--BUTTON-COLOR);
  font-weight: bold;
}

/* || MENU */

thead,
tbody,
tfoot,
tr {
  display: contents;
}

.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
  gap: 0.1em;
  margin-bottom: 1em;
}

.menu__cr {
  grid-area: cr;
}

.menu__sf {
  grid-area: sf;
}

.menu__cs {
  grid-area: cs;
}

.menu__cr,
.menu__sf,
.menu__cs,
.menu__header {
  color: var(--HIGHLIGHT-COLOR);
  font-weight: bold;
  height: 100%;
  display: grid;
  place-content: center;
}

.menu__header,
.menu__item {
  width: 100%;
  padding: 1em;
  border: medium ridge var(--BORDER-COLOR);
}

.menu__item {
  display: grid;
  place-content: center;
}

thead th:first-child {
  border-top-left-radius: var(--BORDER-RADIUS);
}

thead th:last-child {
  border-top-right-radius: var(--BORDER-RADIUS);
}

tfoot td {
  border-bottom-left-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
}

@media screen and (min-width: 576px) {
  .header__h1::before {
    content: "🌮 ";
  }

  .header__h1::after {
    content: " 🌮";
  }

  .menu__header,
  .menu__cr,
  .menu__sf,
  .menu__cs {
    font-size: 125%;
  }
}
